@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Montserrat:wght@400;500&family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(color-2174049_640.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 35px;
    color: #fff;
}

.navbar {
    flex: 1;
    text-align: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: aqua;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.text h1 {
    font-size: 50px;
    margin-top: -100px;
}

.text p {
    margin: 10px 0 40px;
    font-size: 15px;
    color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #8a1810;
    background: #500c07;
    transition: 1s;
}

nav i {
    font-size: 30px;
    color: #fff;
    visibility: hidden;
}


@media(max-width: 700px) {
    .text h1 {
        font-size: 20px;
        margin-top: -100px;
    }

    .header ul {
        display: none;
    }

    nav i {
        font-size: 30px;
        color: #fff;
        visibility: visible;
    }
}

.main {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.row {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.movie-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.movie-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width:700px){
    .row {
        grid-template-columns: repeat(2, 1fr); /* Adjusting to two columns for smaller screens */
    }

    .movie-col{
        flex-basis: 48%; /* Making each column take up more space */
        margin-bottom: 5%;
    }
}